
@media screen and (max-width: 991px) {
    /* nav bar  */
    .nav-bar{
        padding: 1% 5%;
        display: flex;
        align-items: center;
        position: relative;
    }
   
    .menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        justify-content: start;
        top: 100%;
        right: 0%;
        width: 100vw;
        background-color: rgb(237, 236, 245);
        display: none;
    }
    .menu-container ul li a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 30%;
    
    }
    .button{
        padding: 40px;
    }
    .hero-section-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .about-me-wrapper{
        flex-direction: column;
    }

   
}